body {
    background-color: bisque;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: rgb(86, 46, 46);

    display: grid;
    grid: 
    "header header header header" auto
    ". lists aktive ." auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;


}

.title {
    grid-area: header;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    margin-top: -0.3em 0  0.5em;
}

.all-tasks {
    grid-area: lists;
}

.task-list {
    line-height: 1.7;
    list-style: circle;
}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
    font-size: 1.1rem;
}

.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
}

.new {
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    font-size: inherit;
    outline: none;

    order: 2;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.2;
}
.active-list {
    font-weight: 700;
}

.todo-list {
    grid-area: aktive;
    background: rgb(222, 160, 160);
   
}

.todo-header {
    background: rgb(240, 208, 208);
     display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-tile {
    margin: 0;
}

.task-count {
    margin: 0;
    font-size: 1rem;
}

